* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 150px;
  text-align: center;
  padding-top: 12.5%;
  background-color: crimson;
  color: white;
}
section {
  margin-left: 12.5%;
}
.add-box {
margin: -40px 30px 30px 30px;
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 4px 1px crimson;
    border-radius: 5px;
}
#input-key {
  height: 30px;
  width: 50px;
  margin: 0 5px;
  border: none;
}
#input-text {
  height: 30px;
  width: 150px;
  margin: 0 5px;
  border: none;
}
#btnAdd {
    height: 30px;
  width: 50px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: crimson;
  border: none;
}
