* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 150px;
  text-align: center;
  padding-top: 12.5%;
  background-color: crimson;
  color: white;
}
section {
  margin-left: 12.5%;
}
.add-box {
margin: -40px 30px 30px 30px;
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 4px 1px crimson;
    border-radius: 5px;
}

#todos{
  height: 30px;
  width: 150px;
  margin: 0 5px;
  border: none;
}
#add-todos{
    height: 30px;
  width: 50px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: crimson;
  border: none;
}
#get-result{
    text-align: start;
    margin: 30px 110px 20px 0px;
    
}
#get-result h3, p{
text-align: start;
margin: 2px 0px 0px 12.5%;
padding: 5px ;
}
#save-btn{
  display: none;
}